.image {
    width: 100%;
    height: 250px;
    border-radius: 10px 10px 0 0;
    transition: transform 500ms ease;
    cursor: pointer;
}
.image:hover {
    transform: scale(1.05);
}
.item {
    width: 30%;
    margin-bottom: 50px;
    background: rgb(244, 245, 244);
    overflow: hidden;
    position: relative;
    padding-bottom: 20px;
}
.text,
.name,
.price {
    margin: 20px 20px;
    color: #333;
}
.price {
    color: #5fa36a;
}
.add_to_cart {
    position: absolute;
    right: 20px;
    bottom: 15px;
    background: #ca5252;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 600;
    transition: transform 500ms ease;
}
.add_to_cart:hover {
    transform: scale(1.5) translateY(-2px);
}